@using System.Collections.Generic
@using FlightRecorder.Mvc.Entities
@model List<Country>

@{
    ViewData["Title"] = "Countries";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Countries
    </span>
    <br />
    <small class="text-muted">
        <em>
            Manage the countries where airports can be sited
        </em>
    </small>
</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th />
    </tr>
    @foreach (var country in Model)
    {
        <tr>
            <td valign="center">@country.Name</td>
            <td valign="center">
                <a class="btn btn-lg" asp-area="" asp-controller="Countries" asp-action="Edit" asp-route-id="@country.Id">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>

<hr />
<p class="text-right">
    <a class="btn btn-primary" href="/Countries/Add" role="button">Add</a>
</p>
