@model FlightRecorder.Mvc.Models.AddSightingViewModel

@{
    ViewData["Title"] = "Log Sighting";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md">
                <span style="font-size: 1.2rem"><strong>Log New Sighting</strong></span>
            </div>
        </div>
        <hr />
    }
</div>
